.tableau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 768px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
  padding: 2px;
  overflow: hidden;
}

.tableau > .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100%/4);
  height: auto;
}

.tableau > .box > div {
  width: 50px;
  height: 45px;
  margin: 2px;
}

.tableau > .box > div:nth-child(n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.tableau > .box > div:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.2);
}

.tableau > .box > div:nth-child(3n) {
  background-color: rgba(0, 0, 0, 0.3);
}

.tableau > .box > div:nth-child(4n) {
  background-color: rgba(0, 0, 0, 4);
}
