.tableau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 750px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: 1px solid #000;
    overflow: hidden;
}

.tableau > div {
    width: calc(100%/15);
    height: 50px;
    border: 3px solid #fff;
}

.tableau > div:nth-child(n) {
    background-color: #ff7100;
}

.tableau > div:nth-child(2n) {
    background-color: #ffb173;
}

.tableau > div:nth-child(3n) {
    background-color: #a64a00;
}