/*body {
}*/
.rouge {
	color: red;
}

header {
	font-weight: bold;
}

h1 {
	font-size: 50px;
}

div{
	margin: 5px;
}
div#part1{
	width: 20%;
	float: left;
}

article{
	text-align: justify;
}

article#intro{
	font-weight: bold;
	padding-bottom: 5px; 
}

#auteur {
	border-top: thick solid;
	border-bottom: thin solid;
	text-align: center;
}

/*premiere lettre en majuscule*/
span#maj{
	font-weight: bold;
	font-size: 40px;

}
div#part2{
	float: left;
	width: 50%;
	display: inline-block;
}

img {
	width: 100%;
	height: 100%;
	border: thick solid;
	border-color: crimson;
	object-fit: cover;
	display: block;
}

.colonm{

	padding: 10px;
	width: 30%;
	float: left;
	display: inline-block;

}

figcaption{
	background-color: crimson; 
}

div#part3{
	float: left;
	width: 25%;
	display: block;
	display: inline-block;
	border: thick solid;
	border-color: crimson;
}

div#artiste_txt{
	width: 45%;
	float: left;
	margin: 0;
	display: inline-block;
}

#artiste_img{
	float: right;
	width: 45%;
	border-left: thin solid;
	border-color: crimson;
	margin: 0;
	display: inline-block;
}

.borderpart3{
	border-bottom: thick solid;
	border-color: crimson;
	display: inline-block;
}

#rendez-vous{
	background-color: cyan;
}

.no-margin{
	margin: 0;
}
table > tr:nth-child(3n) > th:nth-child(3n){
	background-color: orange;
}

table{
	width: 100%;
	height: 100%;
	border: thin solid;
	border-color: white;
}

th{
	width: 15px;
	height: 15px;
}
tr{
	width: 15px;
	height: 15px;
}