body{
	margin: 0;
	padding: 0;
}
.bg{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	background-color: #e66464;
	background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 50%),
	linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
	background-size: 20px 20px;
}